.descriptionBox {
    background: #3D3F4F;
    color: #fff;
    text-align: center;
    font-family: Roboto, sans-serif;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    left: 5px;
    white-space: nowrap;
}

.itemName {
    padding: 5px 10px;
    font-weight: bold;
}

.description {
    margin-bottom: 5px;
}