* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


.App {
    margin:20px;
    background-color: wheat; 
}

html, body {
    width: fit-content;
}